.icon.open {
  background-color: #2b00d4;
  animation-name: open-to-close;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.icon.close {
  background-color: transparent;
  animation-name: close-to-open;
  animation-duration: .3s;
  animation-delay: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes open-to-close {
  from {background-color: #2b00d4;}
  to {background-color: transparent;}
}

@keyframes close-to-open {
  from {background-color: transparent;}
  to {background-color: #2b00d4;}
}