 .topbot::before, .topbot::after, .middle {
  position: absolute;
  top: 50%;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
  width: 20px;
 }
 
 .topbot::before, .topbot::after {
  content: "";
  height: 16px;
  left: calc(50% + 2px);
}

.topbot::before {
  border-bottom: 3px solid white;
}

.topbot::after {
  border-top: 3px solid white;
}

.icon:hover .topbot::before, .icon:hover .topbot::after {
  left: calc(50% - 2px);
  height: 10px;
  width: 13px;
}

.middle {
  height: 3px;
  left: calc(50% - 2px);
  background: white;
}

.icon:hover .topbot::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.icon:hover .topbot::after {
  transform: translate(-50%, -50%) rotate(225deg);
}

.icon:hover .middle {
  left: calc(50% + 2px);
  width: 20px;
  transform: translate(-50%, -50%) rotate(180deg);
}