.a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
  
.a::before, .a::after {
  content: "";
  position: absolute;
  top: 50%;
  transition: all 0.5s;
}

.a:before {
  height: 16px;
  width: 20px;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
  border-bottom: 3px solid white;
}
.a:after {
  height: 3px;
  width: 20px;
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  background: white;
}

.icon:hover .a::before {
  transform: translate(-50%, -50%) rotate(135deg);
  left: calc(50% - 2px);
  height: 10px;
  width: 13px;
}

.icon:hover .a:after {
  left: calc(50% + 2px);
  width: 20px;
  transform: translate(-50%, -50%) rotate(180deg);
}

.b {
  position: absolute;
  top: 50%;  
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  height: 16px;
  width: 20px;
  border-top: 3px solid white;
}

.icon:hover .b {
  transform: translate(-50%, -50%) rotate(225deg);
  left: calc(50% - 2px);
  height: 10px;
  width: 13px;
}