#StyledButton {
  color: #5CC4C0;
  font-size: 14px;
  border-width: 1px;
  border-radius: 0px;
  border-color: #5CC4C0;
  transition: all 0.3s linear;
}

#StyledButton:hover {
  box-shadow: 0px 0px 0px 0px #5CC4C0;
  color: white;
  background: #5CC4C0;
}

#StyledButton path {
  stroke: #5CC4C0;
  transition: all 0.3s linear;
}

#ScreenButton {
  color: black;
  font-size: 14px;
  border-width: 1px;
  border-radius: 0px;
  border-color: black;
  transition: all 0.3s linear;
}

#ScreenButton:hover {
  box-shadow: 0px 0px 0px 0px black;
  color: white;
  background: black;
}

#ScreenButton path {
  stroke: black;
  transition: all 0.3s linear;
}

#ScreenButton:hover path {
  stroke: white;
}

.Background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  z-Index: 30;
}

.Background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Background img.zoom-in {
  animation-name: b-zoom-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes b-zoom-in {
  from {
    width: 100%;
    height: 100%;
    top: 50%;
  }
  to {
    width: 250%;
    height: 250%;
    top: 46%;
  }
}

.Background img.zoom-out {
  animation-name: b-zoom-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes b-zoom-out {
  from {
    width: 250%;
    height: 250%;
    top: 46%;
  }
  to {
    width: 100%;
    height: 100%;
    top: 50%;
  }
}

.Screen {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  top: 0%;
  left: 0%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background: 'transparent';
  pointer-events: none;
  z-Index: 25;
}

.Screen.zoom-in {
  animation-name: s-zoom-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes s-zoom-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Screen.zoom-out {
  opacity: 0;
  animation-name: s-zoom-out;
  animation-duration: 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

@keyframes s-zoom-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#Github {
  width: 30px;
  height: 30px;
}

#Twitter {
  width: 26px;
  height: 26px;
}

.Home {
  position: relative;
  z-Index: 1;
}

.Contact{
  position: relative;
  z-Index: 1;
}

.Portrait {
  position: relative;
  z-Index: 1;
}

.keyboard{
  z-Index: -1;
  position: absolute;
  transform: scale(0.5, 0.5) rotate(-20deg);
  top: -50%;
  left: -40%;
}

.coffee{
  z-Index: -1;
  position: absolute;
  transform: scale(0.5, 0.5);
  top: 30%;
  left: 60%;
}

.coffee-transform{
  position: relative;
  transform: translate(50%, 50%);
}

.plant{
  z-Index: -1;
  position: absolute;
  transform: rotate(180deg) scale(0.3, 0.3);
  top: -55%;
  left: 40%;
}

.paper{
  z-Index: -1;
  position: absolute;
  transform: scale(0.35, 0.3);
}

.frame{
  z-Index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-49.7%, -51%);
  height: 540px;
  width: 540px;
}

.frame-transform{
  position: relative;
}

.Footer {
  position: relative;
  align-items: center;
  justify-content: center;
}

.Footer-background {
  position: absolute;
  width: calc(100vw - 20px);
  height: 120px;
  transform: translateY(calc(-100% - 10px));
  border: #003060 3px solid;
  margin: 5px;
}

.Footer-iconBox {
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  top: -23px;
  border: #003060 3px solid;
  transform: translateX(-50%);
  justify-content: center;
}

.Footer-content {
  position: relative;
  bottom: 2%;
}

.typed-cursor {
  font-size: 30px;
  align-items: center;
  margin-top: 5px;
}

.ProfilePic {
  border-radius: 100%;
}

.socials-start {
  position: absolute;
  left: 50%;
  bottom: 10%;
}